@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600&family=Lobster&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");

*,
html,
body,
.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-style);
  color: var(--primary-font-color);
}

html,
body {
  box-sizing: border-box;
  cursor: url("../assets/cursor.png") 16 16, pointer;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

#particles-js {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

.vps {
  display: flex;
  margin: 2rem 0;
}

.main {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center; */
  width: 100%;
}

.container {
  display: flex;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.sub_p_what_we_do {
  background-image: linear-gradient(
    to right top,
    #35265c,
    #32285b,
    #2f295a,
    #2c2b59,
    #2a2c57,
    #233763,
    #17436e,
    #004e78,
    #006686,
    #007d81,
    #009069,
    #5f9f4a
  );
}

.sub_p_what_we_do .subtitle .main_heading,
.sub_p_what_we_do .subtitle .sub_heading {
  color: #fbfafd;
}

.sub_p_values {
  background-image: linear-gradient(
    to right top,
    #f2dff0,
    #f9e3ea,
    #fbe8e7,
    #faede9,
    #f8f3ee,
    #f7f4ef,
    #f5f6f0,
    #f4f7f2,
    #eef6ef,
    #e8f5ee,
    #e0f3ee,
    #d9f2f0
  );
}

.sub_p_team {
  background-image: linear-gradient(
    to right,
    #f6f8ee,
    #fcf7ef,
    #fff6f2,
    #fff7f7,
    #fef8fb,
    #fdf7fb,
    #fbf7fc,
    #f9f6fc,
    #f8f3fb,
    #f7f0fa,
    #f7edf9,
    #f7eaf8
  );
}

.sub_p_contact {
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #fcfcfe,
    #f9f8fd,
    #f6f5fb,
    #f3f1fa,
    #f3eef9,
    #f3ecf7,
    #f4e9f5,
    #f7e6f1,
    #fbe4ed,
    #fde2e7,
    #ffe0e0
  );
}

.subtitle .main_heading {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.underline {
  width: 8rem;
  text-align: center;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(255, 249, 34),
    rgba(255, 0, 128),
    rgba(56, 2, 155, 0)
  );
  border-image-slice: 10;
  margin: 3rem 0;
}

.subtitle .sub_heading {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.socials,
.verticals {
  display: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  display: none;
}

.buttons_group {
  display: flex;
  justify-content: center;
}

.buttons_group div {
  padding: 1rem 2rem;
  margin: 1rem 0.5rem;
  box-shadow: var(--card-shadow);
  border-radius: 2vh;
}

.buttons_group div img {
  height: 4rem;
  width: 4rem;
}

#values,
#what_we_do,
#trust,
.hide {
  display: none;
}

@media screen and (min-width: 1024px) {
  #values_mobile,
  #what_we_do_mobile,
  .buttons_group {
    display: none;
  }

  #values,
  #what_we_do,
  #trust,
  .hide {
    display: flex;
  }

  #brand,
  #what_we_do,
  #trust,
  #values,
  #team,
  #contact {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (min-width: 1366px) {
  .socials,
  .verticals {
    position: fixed;
    display: flex;
    justify-content: center;
  }
}
