:root {
  --theme: "light";
  --background-color: #fbf4e9;
  --navbar-color: #222629;
  --primary-font-color: #2a2340;
  --secondary-font-color: #ffff3f;
  --card-boder-radius: 42px;
  --card-background: #474b4f;
  --card-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  --card-row-gaps: 3rem;
  --card-column-gaps: 3rem;
  --font-style: "Inter", sans-serif;
  --title-font-style: "Staatliches", cursive;
  --subtitle-font-style: "Lobster", cursive;
  --logo-font: "Staatliches", cursive;
}
