@media screen and (min-width: 1024px) {
  .member {
    width: 100%;
    background: #f0ecf8;
  }

  .team_laptop_desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    row-gap: 3rem;
    column-gap: 2rem;
  }

  .team .info {
    width: 100%;
    position: relative;
    display: flex;
    border-radius: var(--card-boder-radius);
    justify-content: center;
    align-items: center;
  }

  .avatar {
    display: flex;
    justify-content: center;
    transform: translateZ(20px);
  }

  .description .name {
    margin: 1rem 0 0 0;
    font-size: 1.25rem;
    text-align: center;
  }

  .description .designation {
    text-align: center;
    margin-bottom: 1rem;
  }

  .description .about {
    text-align: center;
    font-size: 0.85rem;
  }

  .avatar img {
    height: 8rem;
    width: 8rem;
    border-radius: 1vh;
    transform: translateZ(20px);
  }
}

@media screen and (min-width: 1366px) {
  .team_laptop_desktop {
    display: flex;
    flex-direction: column;
  }

  .team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
  }

  .team .info {
    padding: 1rem;
    position: relative;
    display: flex;
    border-radius: var(--card-boder-radius);
    justify-content: center;
    align-items: center;
  }

  .avatar {
    display: flex;
    justify-content: center;
    transform: translateZ(20px);
  }

  .description .name {
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .description .designation {
    text-align: center;
    margin-bottom: 1rem;
  }

  .avatar img {
    height: 7rem;
    width: 7rem;
    border-radius: var(--card-boder-radius);
    transform: translateZ(20px);
  }
}
