.artemis_network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16rem 0;
}

.artemis_network .title {
  text-align: center;
  font-family: var(--title-font-style);
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke: 0.25px #5f9f4a;
  text-shadow: 0.05rem 0.05rem 0 #5f9f4a;
  color: #222629;
}

.artemis_network .tag {
  font-family: var(--subtitle-font-style);
  font-size: 1rem;
  text-align: center;
  -webkit-text-stroke: 0.25px #5f9f4a;
  text-shadow: 0.05rem 0.05rem 0 #5f9f4a;
  color: #222629;
}

.scroller_text {
  display: none;
}

@media screen and (min-width: 1024px) {
  .scroller_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
  .scroller_text img {
    height: 3rem;
    width: 3rem;
    margin: 1rem;
  }
  .scroller_text p {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 1366px) {
  .artemis_network .title {
    font-size: 6rem;
    font-weight: bold;
  }
  .artemis_network .tag {
    text-align: center;
    font-size: 2rem;
  }
}
