.socials_hidden {
  position: fixed;
  right: 1rem;
  top: 18rem;
  display: grid;
  padding: 1rem 0.35rem;
  row-gap: 0.5rem;
  grid-template-columns: 1fr;
  border-radius: var(--card-boder-radius);
  background: var(--navbar-color);
  box-shadow: var(--card-shadow);
}

.social_img {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
}
