.map {
  display: none;
}

.form {
  border-radius: 2vh;
  background: #f0ecf8;
  box-shadow: var(--card-shadow);
  padding: 2rem;
  margin: 2rem;
}

textarea,
input {
  outline: none;
  border: none;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1vh;
  background: #faf9fc;
  width: 100%;
  resize: none;
}

button {
  outline: none;
  border: none;
  padding: 2rem 1rem;
  border-radius: 1vh;
  background: #faf9fc;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .two_split {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  input,
  textarea,
  button {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1280px) {
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    border: #31558d;
    box-shadow: var(--card-shadow);
    border-radius: 2vh;
    min-height: 25rem;
    min-width: 40rem;
  }
}
