a {
  text-decoration: none;
  cursor: url("../../assets/cursor.png") 16 16, pointer;
}

.navbar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar {
    display: grid;
    width: 100%;
    z-index: 2;
    padding: 0.5rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    position: fixed;
  }
  .navigation_bar {
    display: flex;
    height: 5.5rem;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .navigation_bar_home {
    display: flex;
    justify-items: flex-start;
    font-size: 1.5rem;
  }
  .navigation_bar_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    column-gap: 2rem;
  }
  .navigation_bar_links a {
    color: var(--primary-font-color);
    font-size: 1.2rem;
  }

  .bar_link {
    display: flex;
    align-items: center;
    margin: 0 0 0 1rem;
  }

  .bar_link img {
    height: 4rem;
    width: 5.75rem;
    padding: 0.35rem;
    background: white;
    box-shadow: 0px 0px 8px 0px;
    border-radius: 1rem;

    transform: translateX(0.75rem) translateY(-0.25rem);
    transition: 0.5s all;
  }

  .bar_link img:hover {
    transform: scale(1.1);
    transition: 0.5s all;
  }

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .cta_careers {
    padding: 0.5rem 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.5s;
    border-radius: 4vh;
    padding: 0.5rem 2rem;
    font-family: var(--subtitle-font-style);
  }
  .cta_careers:hover {
    transition: all 0.5s;
    color: black;
    background: #a8ff78; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #78ffd6,
      #a8ff78
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #78ffd6,
      #a8ff78
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
