.what_we_do_mobile_ipad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  z-index: 100;
  position: relative;
}

.what_we_do_mobile_ipad_grid {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: var(--card-boder-radius);
  background: var(--card-background);
  box-shadow: var(--card-shadow);
  width: 100%;
  padding: 1rem;
}

.what_we_do_mobile_ipad_grid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.what_we_do_mobile_ipad_grid div img {
  height: 7rem;
  width: 7rem;
  margin: 1rem;
}

@media screen and (min-width: 720px) {
  .what_we_do_mobile_ipad_grid {
    padding: 2rem;
    width: 60%;
    margin: auto;
  }
}
