@media screen and (min-width: 1024px) {
  .pin-spacer {
  }

  .what_we_do {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    padding: 8rem 0;
    /* padding: 2rem 0; */
    width: 100%;
    column-gap: 2rem;
  }

  .product {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--card-boder-radius);
    background: #f0edf9;
    box-shadow: var(--card-shadow);
    margin: 2rem;
    padding: 2rem;
    min-width: 25rem;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-break: keep-all;
  }

  .text h2 {
    font-size: 2rem;
    padding: 2rem 0;
  }

  .text p {
    line-height: 1.5rem;
  }

  .product img {
    width: 18rem;
  }
}
