@media screen and (min-width: 1024px) {
  .values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 6rem 0;
    width: 100%;
    column-gap: 2rem;
  }

  .value {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2vh;
    background-image: linear-gradient(
      to right top,
      #f0ecf8,
      #f0ecf9,
      #f0ecf9,
      #f1ebfa,
      #f1ebfa,
      #f1ebfa,
      #f1ebfa,
      #f1ebfa,
      #f1ebfa,
      #f0ecf9,
      #f0ecf9,
      #f0ecf8
    );
    margin: 4rem;
    padding: 4rem;
    column-gap: 2rem;
  }
  .value img {
    width: 18rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    min-width: 18rem;
    column-gap: 2rem;
    word-break: keep-all;
  }

  .value .content h2 {
    font-size: 2rem;
    padding: 2rem 0;
    text-align: left;
  }

  .value .content p {
    text-align: left;
    line-height: 1.5rem;
  }
}
