@media screen and (min-width: 1024px) {
  .values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    column-gap: 2rem;
    padding-left: 20vw;
  }

  .value {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2vh;
    background-image: linear-gradient(
      to right top,
      #f0ecf8,
      #f0ecf9,
      #f0ecf9,
      #f1ebfa,
      #f1ebfa,
      #f1ebfa,
      #f1ebfa,
      #f1ebfa,
      #f1ebfa,
      #f0ecf9,
      #f0ecf9,
      #f0ecf8
    );
    margin: 2rem;
    padding: 2rem;
    column-gap: 2rem;
    min-height: 35rem;
    min-width: 60rem;
  }
  .value img {
    width: 18rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    min-width: 18rem;
    column-gap: 2rem;
    word-break: keep-all;
  }

  .value .content h2 {
    font-size: 2rem;
    padding: 2rem 0;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
  }

  .value .content p {
    text-align: left;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  .values {
    column-gap: 4rem;
  }

  .value img {
    width: 20rem;
  }
}
