.socials_hidden {
  position: fixed;
  right: 0rem;
  top: 1rem;
  border-top-left-radius: 2vh;
  border-bottom-left-radius: 2vh;
  display: grid;
  padding: 1rem 0.35rem;
  row-gap: 0.5rem;
  grid-template-columns: 1fr;
  cursor: url("../../../assets/img/cursor.png") 16 16, pointer;

  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.social_img {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.25rem;
  transition: 0.25s all;
  cursor: url("../../../assets/img/cursor.png") 16 16, pointer;
}

.social_img:hover {
  transform: scale(1.25);
  transition: 0.25s all;
  cursor: url("../../../assets/img/cursor.png") 16 16, pointer;
}

@media screen and (min-width: 768px) {
  .socials_hidden {
    top: 16rem;
  }
}

@media screen and (min-width: 1024px) {
  .social_img {
    height: 2.75rem;
    width: 2.75rem;
  }
}
