.socials_hidden {
  position: fixed;
  right: 1rem;
  top: 18rem;
  display: grid;
  padding: 1rem 0.35rem;
  row-gap: 0.5rem;
  grid-template-columns: 1fr;
  border-radius: var(--card-boder-radius);
  box-shadow: var(--card-shadow);
  cursor: url("../../../assets/img/cursor.png") 16 16, pointer;
}

.social_img {
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.25rem;
  transition: 0.25s all;
  cursor: url("../../../assets/img/cursor.png") 16 16, pointer;
}

.social_img:hover {
  transform: scale(1.25);
  transition: 0.25s all;
  cursor: url("../../../assets/img/cursor.png") 16 16, pointer;
}
