.mobile {
  margin: 2rem 2rem 10rem 2rem;
  display: block;
}

.m_hide {
  display: block;
}

hr {
  margin: 4rem 8rem;
  border-radius: 2vw;
  border: 1px solid gray;
}

@media screen and (min-width: 768px) {
  .mobile {
    margin: 5rem 6rem;
  }

  hr {
    margin: 4rem 12rem;
  }
}

@media screen and (min-width: 1024px) {
  .mobile,
  .m_hide {
    display: none;
  }
}

@media screen and (min-width: 360px) {
  hr {
    border: none;
  }
}
